@keyframes disp0 {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: scroll;
  }
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  animation: disp0 1s 1.3s forwards ease;
}

@keyframes disp1 {
  0% {
    top: 100vh;
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 0vh;
    opacity: 1;
  }
}

.top {
  top: 0;
}
.i-container {
  position: relative;
  display: flex;
  height: 100vh;
  color: #000;
  overflow: hidden;
  animation: disp1 1s 1.5s forwards ease;
  top: 100vh;
  opacity: 0;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.i-right {
  flex: 1;
  display: flex;
  // position: relative;
}

.i-left-wrapper {
  padding: 50px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10vh;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

.i-name {
  font-size: 60px;
  margin: 0;
}

.i-title {
  height: 50px;
  overflow: hidden;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 119, 255);
  display: flex;
  text-align: center;
}

.i-bg {
  background-color: rgb(212, 212, 212);
  width: 100%;
  height: 100%;
  clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
  display: flex;
  justify-content: center;
  text-align: center;
}

@keyframes disp2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.i-img {
  transform: translateX(-7px);
  margin-left: 90px;
  opacity: 0;
  transition: all 1s;
  animation: disp2 1s 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

$blend: hard-light;

.i-img-1 {
  filter: sepia(100%) saturate(300%) brightness(80%) hue-rotate(160deg)
    contrast(30%);
  mix-blend-mode: $blend;
  opacity: 0;
}

.i-img-2 {
  transform: translateX(-14px);
  filter: sepia(100%) saturate(300%) brightness(80%) hue-rotate(-70deg)
    contrast(30%);
  mix-blend-mode: $blend;
  opacity: 0;
  margin-left: 90px;
}

.i-back-writing-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  z-index: -1;
}

.i-back-writing {
  font-weight: 800;
  top: -5vw;
  position: absolute;
  font-size: 25vw;
  justify-content: center;
  text-align: center;
  color: rgb(219, 219, 219);
  z-index: 1;
  text-shadow: 0 0 50px rgb(211, 210, 210);
}

.i-logo {
  z-index: 10;
  position: absolute;
  display: inline;
  color: rgb(95, 95, 95);
  font-weight: 400;
  font-size: 30px;
  // border-left: rgb(255, 0, 76) solid 2px;
  padding: 3px 10px 0px 10px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.i-logo:after {
  content: "";
  position: absolute;
  width: 2%;
  height: 100%;
  background-color: rgb(236, 84, 104);
  left: 0;
  z-index: -1;
  transition: all 0.3s;
  mix-blend-mode: $blend;
}

.i-logo:before {
  content: "";
  position: absolute;
  width: 2%;
  height: 100%;
  background-color: rgb(0, 132, 255);
  left: 0;
  z-index: -1;
  transition: all 0.3s;
  transform: translate(5px, 5px);
  mix-blend-mode: $blend;
}

.i-logo:hover:after {
  width: 100%;
}

.i-logo:hover:before {
  width: 100%;
}

.i-logo:hover {
  color: rgb(255, 255, 255);
}

.pnk {
  color: rgb(226, 62, 89);
}

.logo-absolute {
  z-index: 10;
  position: sticky;
  top: 0px;
}
