$blend: color-dodge;

@keyframes color1 {
  0% {
    color: rgb(255, 255, 255);
  }

  100% {
    color: rgb(95, 95, 95);
  }
}

.i-logo {
  z-index: 10;
  position: absolute;
  display: inline;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 30px;
  // border-left: rgb(255, 0, 76) solid 2px;
  padding: 3px 10px 0px 10px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  animation: color1 0.8s 1.8s forwards ease-in-out;
}

.i-logo:after {
  content: "";
  position: absolute;
  width: 2%;
  height: 100%;
  background-color: rgb(255, 95, 116);
  left: 0;
  z-index: -1;
  transition: all 0.3s;
  mix-blend-mode: $blend;
}

.i-logo:before {
  content: "";
  position: absolute;
  width: 2%;
  height: 100%;
  background-color: rgb(0, 132, 255);
  left: 0;
  z-index: -1;
  transition: all 0.3s;
  transform: translate(5px, 5px);

  mix-blend-mode: $blend;
}

.i-logo:hover:after {
  width: 100%;
}

.i-logo:hover:before {
  width: 100%;
}

@keyframes color2 {
  0% {
    color: rgb(95, 95, 95);
  }

  100% {
    color: rgb(252, 252, 252);
  }
}

.i-logo:hover {
  animation: color2 0.1s ease-in-out;
}

.i-logo-absolute {
  z-index: 10;
  position: sticky;
  top: 0px;
}

@media only screen and (max-width: 650px) {
  .i-logo {
    display: none;
  }
}
